.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../images/unnamed.png);
  background-size:cover;
 }

 .codexTabs {
  width: 80%;
  height: auto;
  min-height: 400px;
  min-width: 500px;
  background: #4d4d4d;
  margin: 3.5rem auto 1.5rem;
  padding: 2rem 1rem .5rem 1rem;
  color: #E8F0F2;
  border-radius: 2rem;
  @media (max-width: 769px) {
   padding: 2rem 0;
  }
  
 }

 ul.tabNav {
  width: 60%;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #bbbbbb;
  border-radius: 2rem;
  padding-left: 0px;
  @media (max-width: 768px) {
    width: 90%;
  }
}

ul.tabNav li {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}

ul.tabNav li:nth-child(2) {
  border-radius: 0;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}

ul.tabNav li:hover {
  background: rgba(24, 24, 24, 0.15);
}

ul.tabNav li.active {
  background: #bbbbbb;
}

.monsters p,
.weapons p {
  font-size: 2rem;
  text-align: center;
}

.storyBox {
  height: 30vw;
  width: 50vw;
  background-color: rgb(41, 41, 41);
  margin-top: 150px;
  border-radius: 15px;
  opacity: 85%;
  color: #E8F0F2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.nav {
  background-color: transparent;
  /* background-color: purple; */
  height: 3VW;
  width: 75VW;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin-top: 20px;
}

.button {
  background: none;
	color: white;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  opacity: 100%;
  margin-top: 10px;
}

.button:hover {
  color:#868686
}

#homeTextBox {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.homeText {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-left: 3%;
  margin-right: 3%;
}

h1 {
  font-size: 35px;
  text-align: center;
}

h3 {
  text-align: center;
}

#homeButtonsBox {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}

#storyTextBox {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

#storyButtonHolder {
  display: flex;
  flex-direction: column;
}

.storyButton {
  text-align: center;
}

.navButton {
  border-radius: 5px;
  border-color: transparent;
  background-color: rgb(41, 41, 41);
  opacity: 85%;
  color: white;
  height: 2vw;
  margin-left: 5px;
  box-shadow: 0px 4px 4px rgb(224, 224, 224);
}

.navButton:hover {
  background-color: rgb(26, 26, 26);
  color: rgb(224, 224, 224);
}

#codexNavButtons {
  /* background-color: pink; */
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.codexButton {
  margin: 10px;
  padding: 0px 10px 0px 10px;
}